@font-face {
  font-family: "Silkscreen";
  src: url("./fonts/Silkscreen-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Silkscreen";
  src: url("./fonts/Silkscreen-Bold.ttf") format("truetype");
  font-weight: 700;
}

:root {
  --corner: 5px;
}

* {
  font-family: "Silkscreen", system-ui;
  font-weight: 400;
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #fff;
  position: relative;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: url("./imgs/bg1.jpg") center/cover no-repeat;
  opacity: 0.2;
  z-index: -1;
}

.vhs-overlay {
  position: fixed;
  inset: 0;
  background: url("./imgs/vhs.gif") center/cover no-repeat;
  opacity: 0.4;
  mix-blend-mode: soft-light;
  pointer-events: none;
  z-index: 999;
}

button {
  background: #1acc09;
  color: #000;
  font-size: 14px;
  font-weight: bold;
  padding: 12px 20px;
  margin: 5px;
  border-left: 6px solid #000;
  border-bottom: 6px solid #000;
  box-shadow: var(--corner) 0 #000, calc(-1 * var(--corner)) 0 #000, 0 var(--corner) #000,
    0 calc(-1 * var(--corner)) #000;
  text-transform: uppercase;
  cursor: pointer;
}

button:hover {
  background: #e74c3c;
  color: #fff;
}

button:active {
  box-shadow: 0 2px #000;
  transform: translateY(2px);
}

button:disabled {
  cursor: not-allowed;
}

#playPage,
#userPage,
.wheel-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#logoPlayPage {
  width: 50vw;
  margin-bottom: 90px;
}

#playBtn {
  font-size: 40px;
}

.title {
  font-size: 200%;
  font-weight: bold;
}

#usersDiv {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

#usersDiv button {
  font-size: 25px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#wheelPage button {
  font-size: 20px;
  margin-top: -15px;
  padding: 10px 20px;
}

#wheelPage > .title {
  font-size: 140%;
  font-weight: bold;
  margin-top: 15px;
}

.wheel-wrapper {
  position: relative;
  width: 40vw;
  aspect-ratio: 1 / 1;
}

#wheelBg,
#wheel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

#winnerPopup {
  position: fixed;
  inset: 0;
  display: none;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  font-weight: bold;
  animation: pop 0.8s ease;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#winnerPopup h1 {
  font-size: 450%;
  animation: blink 2s infinite alternate;
}

#winnerPopup p {
  font-size: 90%;
  margin-bottom: 15px;
}

#winnerPopup button {
  margin: 0;
 
  font-size: 100%;
}

@keyframes blink {
  25% {
    color: rgb(192, 255, 192);
  }
  50% {
    color: rgb(255, 202, 202);
  }
  100% {
    color: #fafafa;
  }
}

@keyframes pop {
  0% {
    transform: scale(0);
  }
  60% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.snow {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
  z-index: 2;
}

.snowflake {
  position: absolute;
  top: -10px;
  color: white;
  font-size: 1em;
  opacity: 0.8;
  animation: fall linear infinite;
  text-shadow: 0 0 5px #000;
}

@keyframes fall {
  to {
    transform: translateY(100vh);
  }
}

@media (max-width: 768px) {
  body {
    height: 90vh;
    margin-top: 5vh;
  }

  #logoPlayPage {
    width: 90vw;
    margin-bottom: 10px;
  }

  #playBtn {
    font-size: 25px;
    margin-top: 10px;
    padding: 8px 18px;
  }

  .title {
    font-size: 190%;
    line-height: 1.2;
  }

  #userPage > .title {
    font-size: 140%;
  }

  #usersDiv {
    margin-top: 20px;
    width: 95vw;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

  #usersDiv button {
    font-size: 16px;
  }

  #wheelPage > .title {
    font-size: 100%;
    line-height: 1.2;
  }

  .wheel-wrapper {
    width: 100vw;
  }

  #winnerPopup h1 {
    font-size: 250%;
  }

  #wheelPage button {
    font-size: 16px;
    margin-top: 10px;
    padding: 10px 18px;
  }
}
